  <div class="fixed bottom-4 left-4 bg-white rounded-full shadow-lg p-2 z-20">
    <div class="flex space-x-2">
      <% I18n.available_locales.each do |locale| %>
        <a href="/<%= locale %>" class="w-8 h-8 flex items-center justify-center rounded-full <%= I18n.locale.to_s == locale.to_s ? 'bg-indigo-600 text-white' : 'bg-gray-200 text-gray-700 hover:bg-gray-300' %>">
          <%= locale.to_s.upcase.first(2 ) %>
        </a>
      <% end %>
    </div>
  </div>